#New-header {
  color: rgb(217, 215, 250);
  background: black;
  display: 'flex';
  justify-content:'space-between';
  align-items: 'center';
  width: 100%;
  position: fixed;
  top: 0;
  height: 3%;
  z-index: 999;
}

.Header-left {
  float: left;
}

.Profile {
  display: block;
  margin-right: 100;
  margin-left: auto;
  height: auto;
  margin-top:0cap;
  float: right;
}

.New-footer {
  position:fixed;
  width: 100%;
  bottom: 0;
  color: rgb(245, 245, 245);
  background-color: #020000;
  align-content: end;
  text-align: center;
}

.my-button{
  background-color: rgb(74, 60, 60);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.my-button:hover {
  background-color: rgb(35, 35, 42);
}